{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/> 
<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script>
$(document).ready(function() {
    $('#productForm')
        // IMPORTANT: You must declare .on('init.field.fv')
        // before calling .formValidation(options)
        .on('init.field.fv', function(e, data) {
            // data.fv      --> The FormValidation instance
            // data.field   --> The field name
            // data.element --> The field element

            var $icon      = data.element.data('fv.icon'),
                options    = data.fv.getOptions(),                      // Entire options
                validators = data.fv.getOptions(data.field).validators; // The field validators

            if (validators.notEmpty && options.icon && options.icon.required) {
                // The field uses notEmpty validator
                // Add required icon
                $icon.addClass(options.icon.required).show();
            }
        })

        .formValidation({
            framework: 'bootstrap',
            icon: {
                required: 'fa fa-asterisk',
                valid: 'fa fa-check',
                invalid: 'fa fa-times',
                validating: 'fa fa-refresh'
            },
            fields: {
                name: {
                    validators: {
                        notEmpty: {
                            message: 'The name is required'
                        }
                    }
                },
                description: {
                    validators: {
                        stringLength: {
                            max: 300,
                            message: 'The description must be less than 300 characters long'
                        }
                    }
                },
                price: {
                    validators: {
                        notEmpty: {
                            message: 'The price is required'
                        },
                        numeric: {
                            message: 'The price must be a number'
                        }
                    }
                },
                quantity: {
                    validators: {
                        notEmpty: {
                            message: 'The quantity is required'
                        },
                        integer: {
                            message: 'The quantity must be a number'
                        }
                    }
                }
            }
        })

        .on('status.field.fv', function(e, data) {
            // Remove the required icon when the field updates its status
            var $icon      = data.element.data('fv.icon'),
                options    = data.fv.getOptions(),                      // Entire options
                validators = data.fv.getOptions(data.field).validators; // The field validators

            if (validators.notEmpty && options.icon && options.icon.required) {
                $icon.removeClass(options.icon.required).addClass('fa');
            }
        });
});
</script>
<script>
function req_date()
{
	if(document.getElementById("yes_no").value=="Yes")
	{
		document.getElementById("c_req_date").style.display="block";
	}
}
</script>
</head>
<body>
<ul class="nav nav-tabs" style="background-color:#000000">
  <a class="navbar-brand" style="color:#859999" href="{% url 'home' %}">Home</a>
  <p class="navbar-text navbar-right" style="margin-right:80px; color:#859999" >Hello <a href="#" style="color:#859999" class="navbar-link">{{ request.session.logged_in }}</a></p>
  <a class="navbar-text navbar-right" style="margin-right:80px; color:#859999" role="presentation" href="{% url 'logout' %}">Logout</a>
</ul>

<div class="container">
<form method="post" data-toggle="validator" action="{% url 'email_pm' service_call=request.session.servicecall %}" id="productForm" role="form">
	 {% csrf_token %}
	<fieldset>
         <!--   {{ form.as_table }} -->
        <div class="row" style="margin-top:20px;">
		 <div class="form-group col-xs-6">
		  <label for="username">Product/Model</label>
		 <input class="form-control" style="width:auto" type="text" name="product"></input>
		 </div>
		 <div class="form-group col-xs-6">
		 <label for="password">Quantity</label>
         <input class="form-control" style="width:auto" type="number" name="qty"></input>
		</div>
        </div>
        <div class="row" style="margin-top:20px;">
		 <div class="form-group col-xs-6">
		  <label for="username">Issue Reported</label>
		 <input class="form-control" style="width:auto" type="text" name="issue_reported"></input>
		 </div>
		 <div class="form-group col-xs-6">
		 <label for="password">Visit Required?</label>
         <select class="form-control" id="yes_no" style="width:auto"name="visit_required" onChange="req_date()">
         <option value="Select">Select</option>
         <option value="Yes">Yes</option>
         <option value="No">No</option>
         </select>
		</div>
        </div>
        <div class="row" style="margin-top:20px;">
		 <div style="display:none;" id="c_req_date" class="form-group col-xs-6">
		  <label for="username">Customer Request Date</label>
		 <input class="form-control" style="width:auto" type="date" name="customer_req_date"></input>
		 </div>
        </div>
        <div class="row" style="margin-top:20px;">
		<div class="form-group col-xs-6">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
  </div>
		{% if error %}
		{{error}}
		{% endif %}
	</fieldset>
</form>
</div>
</body>
</html>